
.about-hero {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    margin-bottom: 2rem;
}

.about-hero img {
    width: 100%;
    max-width: 600px;
    object-fit: cover;
    flex: 1;
}

.about-text {
    flex: 1;
    text-align: justify;
}

h2{
    text-align: center
}

form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    max-width: 600px;
    margin: auto;
    border: 1px solid #ccc;
}

form label {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
}

form input, form select, form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    background-color: #89c9b8;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}