:root {
    --primary-color: #36180a;
    --secondary-color: #144b19;
    --section-bg-color: #e6e1ba;
    --section-header-color: #227e6a;
    --card-background-color: white;
    --nav-background-color: black;
    --nav-text-color: white;
    --nav-hover-color: #144b19;
}

.shop-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.filters-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.filters-top input, .filters-top select {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1rem;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.filters-top select {
    width: auto;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
    flex: 1;
    overflow-y: auto;
}

.product-card {
    background-color: var(--card-background-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 1rem;
    transition: transform 0.3s ease;
    display: block;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
}

.product-name {
    font-size: 1.25rem;
    color: var(--primary-color);
    margin-top: 1rem;
}

.product-description {
    font-size: 1rem;
    color: #555;
    margin: 0.5rem 0;
}

.product-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--secondary-color);
    margin-top: 0.5rem;
}

.add-to-cart {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: var(--primary-color);
}

.cart {
    width: 300px;
    background-color: var(--card-background-color);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 100px;
    align-self: flex-start;
}

.cart h2 {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.cart ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 1rem;
}

.cart ul li {
    font-size: 1rem;
    color: #555;
    margin-bottom: 0.5rem;
}

.cart p {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right;
    color: var(--primary-color);
}
